[submodule "pelican/themes/blue-penguin"]
	path = pelican/themes/blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin.git
[submodule "pelican/plugins/pelican-page-hierarchy"]
	path = pelican/plugins/pelican-page-hierarchy
	url = https://github.com/akhayyat/pelican-page-hierarchy.git
