[submodule "pelican/themes/blue-penguin"]
	path = pelican/themes/blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin.git
[submodule "pelican/plugins/pelican-page-hierarchy"]
	path = pelican/plugins/pelican-page-hierarchy
	url = https://github.com/akhayyat/pelican-page-hierarchy.git
[submodule "pelican/plugins/pelican-gist"]
	path = pelican/plugins/pelican-gist
	url = https://github.com/streeter/pelican-gist.git
[submodule "pelican/themes/pelican-blueidea"]
	path = pelican/themes/pelican-blueidea
	url = https://github.com/nasskach/pelican-blueidea.git
